* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

img {
    display: block;
}

header {
    background-color: #21222a;
    padding: 2rem 1.5rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

nav > img {
    width: 2rem;
}

nav > span {
    color: #61dafb;
    font-weight: 700;
    font-size: 1.5rem;
}
